<section style="margin-top:10%">
<div class="row">
    <form class="col s12">
        <div class="row">
          <div class="input-field col s12       ">
            <i class="material-icons prefix">textsms</i>
            <textarea id="jhandu" class="materialize-textarea"></textarea>
            <!-- <input id="jhandu" type="text" class="validate"> -->
            <label for="jhandu">Any Eatery Name, Dish or Cuisine or lets us surprise you.</label>
          </div>
          <div class="col-s3">
          <button class="btn waves-effect waves-light waves-effect waves-light #455a64 blue-grey" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
          </div>
        </div>
    </form>
</div>
</section>
<div id="data">
</div>
<!-- Block  -->

