<div class="row" style="{color: black}">
          <form class="col s12" style="text: black; font-weight: bold">
              <div class="row">
                  <div class="input-field col s6">
                      <input disabled value="{{sentence}}" type="text" class="validate">
                </div>
                <div class="input-field col s2">
                      <input disabled value="{{sentiment}}" type="text" class="validate">
                </div>
                <div class="input-field col s2">
                      <input disabled value="{{category}}" type="text" class="validate">
                </div>
                <div class="input-field col s2">
                      <input disabled value="{{sub_category}}"  type="text" class="validate">
                </div>
            </div>
        </form>
</div>
